<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="FullLogFile" fileName="logs/full-latest.log"
			append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} (%t) - %C.%M() @%L > %msg%n" />
		</File>
		<File name="LogFile" fileName="logs/latest.log" append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} (%t) - %C.%M() @%L > %msg%n" />
		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %highlight{[%-5level]}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=white, DEBUG=green, TRACE=magenta} %logger{36} (%t) - %C.%M() @%L > %msg%n"
				disableAnsi="false" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="STDOUT" level="debug" />
			<AppenderRef ref="FullLogFile" />
			<AppenderRef ref="LogFile" level="info" />
		</Root>
	</Loggers>
</Configuration>